<!DOCTYPE html>
<html lang="en">

<head>
    <title>Online Compiler</title>
    <style type="text/css" media="screen">
        #editor {
            height: 90vh;
            width: 81vh;
        }
    </style>
</head>

<body>
    <div>
        <select onchange="language(this)">
            <option>java</option>
            <option>javascript</option>
        </select>
        <select onchange="theme(this)">
            <option>terminal</option>
            <option>eclipse</option>
        </select>
        <button onclick="run()">run</button>
    </div>
    <div id="editor">#include&lt;iostream&gt;
        using namespace std;
        int main(){
        cout&lt;&lt;"HIi";
        return 0;
        }
        <%data%></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="./js/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/terminal");
        editor.session.setMode("ace/mode/java");

        function language(selectedOption) {
            editor.session.setMode(`ace/mode/${selectedOption.value}`)
        }

        function theme(selectedOption) {
            editor.setTheme(`ace/theme/${selectedOption.value}`)
        }

        function run() {
            var myCode = editor.getSession().getValue();
            $.ajax({
                url: '/run',
                method: 'POST',
                data: { "code": myCode },
                success: function (data) {
                    console.log(data);
                }
            })
        }
    </script>
</body>

</html>